fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
langchain
langchain-groq
langchain-community
chromadb
sentence-transformers
pymupdf
unstructured[pdf,xlsx,csv]
pandas
numpy
python-docx
reportlab
requests
beautifulsoup4
serpapi
python-dotenv
psycopg2-binary
sqlalchemy
asyncpg
loguru
firebase-admin
gunicorn
